
// Jumbotron class styling for home page


.media-object { margin: 2% auto; text-align: center;}

.jumbotron-container { text-align:center; }

.jumbotron { 
	float:left;
	vertical-align: top;
	display: inline-block;
	width: 33.33333333333333333333333%;
	min-height: 460px;
	line-height: 200%;
	color: hsl(200, 40%, 20%);;
	font-size: 18px;
	margin:0;
	padding: 2%;
	text-decoration: none;
	text-align: left;
}


.jumbotron.web-dev { 
	background-color:hsla(200, 40%, 75%, .3); 
}
.jumbotron.responsive { 
	background-color:hsla(250, 40%, 75%, .3); 
}

.jumbotron.automate { 
	background-color:hsla(190, 10%, 75%, .3); 
}

.jumbotron.payments { 
	background-color:hsla(280, 40%, 75%, .3);
}
.jumbotron.secure { 
	background-color:hsla(0, 60%, 70%, .3); 
}
.jumbotron.get-paid { 
	background-color:hsla(130, 40%, 75%, .3); 
}