* { 
	font-family: "Roboto", sans-serif;
	 }

body {
	background-image: url('../img/clouds.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

// Main image for Home page
.top-banner {
	background-size: 100% auto;
	width: 100%;
	height:auto;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

//Nav bar styling

.navbar { 
	margin:0;
	background-color: hsla(180, 10%, 90%,.4);
	background-image:none;
	border:none;
	border-radius:0;
	height: auto;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.navbar-default .navbar-brand {
	color: linen;
}
.navbar-default .navbar-nav>li>a {
	color: linen;
}



// Form Styling
.form-group {  
	width:40%; 
	margin: 0 auto;
}
form {
	padding:2%; 
	padding-top:0.5%;
	margin-bottom:0;
}

#submit-btn {  width:40%; margin: auto 30%;}



// Alert Styling

#error-wrapper { 
	text-align: center;
	margin:2%;
}


//Footer Styling

.footer { 
	text-align:center; 
	margin-top:0;
	background-color: hsla(180, 10%, 90%,.4);
}

.footer a:hover { color:black; text-decoration:none; }