
.bar.pricing { 
	color:darkslategrey;
	background-color: hsla(40, 10%, 85%, .9);
	margin:0;

}

.well.pricing { 
	padding: 8%;
	margin: 0 auto;
	border-radius: 0;
}

.col-md-4.pricing {
	background-color: hsla(40, 10%, 85%, .4);
}

#pricing-heading { 
	min-height: 140px; 
}

.col-md-4.pricing { padding:0;}


.price { 
	color: seagreen; 
}

.glyphicon-ok { color: green; }

.glyphicon-remove { color: red; }
